<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated stateexplorationtooladapter -->
      <package
            uri="http://palladiosimulator.org/ExperimentAutomation/ToolAdapter/StateExploration/1.0"
            class="org.palladiosimulator.experimentautomation.application.tooladapter.stateexploration.model.StateExplorationToolAdapterPackage"
            genModel="model/stateexplorationtooladapter.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated stateexplorationtooladapter -->
      <parser
            type="stateexplorationtooladapter"
            class="org.palladiosimulator.experimentautomation.application.tooladapter.stateexploration.model.util.StateExplorationToolAdapterResourceFactoryImpl"/>
   </extension>
</plugin>
