<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ManagedSystemApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
            <run class="org.palladiosimulator.analyzer.slingshot.managedsystem.application.ManagedSystemApplication"></run>
      </application>
   </extension>

</plugin>
