<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.palladiosimulator.analyzer.slingshot.workflow.planner.launcher.PlannerLauncher"
            id="org.palladiosimulator.analyzer.slingshot.ui.planner.launchConfigurationType1"
            modes="run, debug"
            name="Planner Simulation"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.palladiosimulator.analyzer.slingshot.ui.launchConfigurationTypeImage1"
            icon="icon/NewTargets.gif"
            id="org.palladiosimulator.analyzer.slingshot.ui.planner.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.palladiosimulator.analyzer.slingshot.ui.workflow.planner.launcher.LaunchSimulationTabGroup"
            id="org.palladiosimulator.analyzer.slingshot.ui.planner.launchConfigurationTabGroup1"
            type="org.palladiosimulator.analyzer.slingshot.ui.planner.launchConfigurationType1">
      </launchConfigurationTabGroup>
   </extension>

</plugin>
