<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.analyzer.slingshot.extensionpoint.behavior">
      <behavior-provider
            baseClass="org.palladiosimulator.analyzer.slingshot.snapshot.SnapshotRecordingBehavior">
      </behavior-provider>
         
   </extension>
   <extension
         point="org.palladiosimulator.analyzer.slingshot.extensionpoint.behavior">
      <behavior-provider
            baseClass="org.palladiosimulator.analyzer.slingshot.snapshot.SnapshotStateRelatedBehaviour">
      </behavior-provider>
   </extension>
   <extension
         point="org.palladiosimulator.analyzer.slingshot.extensionpoint.behavior">
      <behavior-provider
            baseClass="org.palladiosimulator.analyzer.slingshot.snapshot.SnapshotTriggeringBehavior">
      </behavior-provider>
   </extension>
</plugin>
