<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.analyzer.slingshot">
      <slingshot-extension
            module="org.palladiosimulator.analyzer.slingshot.managedSystem.injection.InjectionModule">
      </slingshot-extension>
      <slingshot-extension
            module="org.palladiosimulator.analyzer.slingshot.managedSystem.export.ExportMeasurementsModule">
      </slingshot-extension>
      <slingshot-extension
            module="org.palladiosimulator.analyzer.slingshot.managedSystem.ManagedSystemModule">
      </slingshot-extension>
   </extension>

</plugin>
